//- var sf = 'Street Fighter (ストリートファイター Sutorīto Faitā), commonly abbreviated as SF or スト (Suto), is a fighting video game franchise developed and published by Capcom, and serves as the company\'s flagship series. The first game in the series was released in 1987. Since then, five other main series games, as well as various spin-offs and crossovers, have been released. Street Fighter II is credited with establishing many of the conventions of the one-on-one fighting genre. The game\'s playable characters originate from different countries around the world, each with a unique fighting style. The franchise has sold 40 million software units[2] and over 500,000 arcade hardware units.[3] It is one of the highest-grossing video game franchises, with Street Fighter II estimated to have grossed over $10 billion in revenue.[4] Street Fighter remained Capcom\'s second-biggest franchise behind Resident Evil as of 2014,[5] and is currently Capcom\'s third-best-selling software franchise behind Resident Evil and Monster Hunter.[6] ';

doctype html
html
  head
    title
    link(href='./css/styles.css' rel='stylesheet')
  body
    //div.quad-box-container
      div.box.quad-1
        p #{sf}
      div.box.quad-2
        p #{sf}
      div.box.quad-3
        p #{sf}
      div.box.quad-4
        p #{sf}
  script(src='./js/app.js')
  